<div
  class="h-[100lvh] w-[100lvw flex items-center justify-end p-[5rem] bg-bus-bg scroll-smooth"
>
<div class="md:h-[50vh] md:w-[40vw] sm:w-[95vw] sm:h-[60vh] rounded-sm ml-auto shadow-sm card">
  <div class="h-[100%] flex justify-center items-center rounded-sm">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()"
        class="flex flex-col w-[80%] justify-center">
      <mat-form-field appearance="fill" class="rounded-sm">
        <mat-label>Aadhar Number</mat-label>
        <input type="number" matInput placeholder="Ex. 1111222233334444" 
        formControlName="aadharid"/>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="Enter your password" 
        formControlName="password"/>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Login</button>
      <p class="p-2">New user?
        <a class="text-black" [routerLink]="['/signup']">SignUp</a></p>
        <!-- 
        <button class="text-blue-400" (click)="commonService.setIsSignup(true)">SignUp</button></p> -->
    </form>
  </div>
</div>
