
<main id="container" class="h-[100lvh] w-[100lvw] bg-white flex flex-col">
    <header id="nav" class="flex m-3 bg-white h-14 align-middle rounded-xl
        items-center justify-between sticky card">
        <div id="left" class="flex items-center">
            <div id="logo" class="w-20 min-h-12 bg-red-500 m-2 rounded-xl"></div>
            <h1>SmartPass</h1>
        </div>
        <div id="menu" class="flex items-center justify-between min-w-[20rem]">
            <button (click)="handleRoute('profile')" type="button">Home</button>
            <button (click)="handleRoute('plan')" type="button">Plans</button>
            <button (click)="handleRoute('about')" type="button">About</button>
            <button (click)="handleRoute('contact')" type="button">Contact</button>
        </div>
        <div id="profile">
            <div id="profile" class="w-fit flex p-2 justify-center items-center min-h-12 bg-cyan-400 text-white m-2 rounded-xl">
                <button (click)="logout()" type="button">Logout</button>
            </div>
        </div>
    </header>
    <div id="main-conent" class="min-h-[85vh] mx-3 py-3">
        <router-outlet></router-outlet>
    </div>
</main>
